.App {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
}

.Control {
  color: #aaaaaa;
  font-size: 2em;
  position: fixed;
  top: 85vh;
  width: 100vw;
  text-align: center;
  opacity: 1;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
}

.Control.hide {
  opacity: 0;
}

.RestCounter {
  color: #888888;
  font-size: 1.5em;
  position: fixed;
  top: 90vh;
  width: 100vw;
  text-align: center;
  opacity: 1;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
}

.RestCounter.hide {
  opacity: 0;
}

